<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">View Contact</p>
      <p class="fst-italic">
        Visualize your Contact as many as you want it fluent and quick
      </p>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h2 text-danger fw-bold">
          {{errorMessage}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3" *ngIf="!loading && notEmpty()">
  <div class="row">
    <div class="col-sm-4 col-md-4">
        <img [src]="currentContact.photo" alt="">
    </div>
    <div class="col-sm-6 col-md-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Name: <span class="fw-bold">{{currentContact.name}}</span></li>
        <li class="list-group-item list-group-item-primary">Email: <span class="fw-bold">{{currentContact.email}}</span></li>
        <li class="list-group-item list-group-item-primary">Mobile: <span class="fw-bold">{{currentContact.mobile}}</span></li>
        <li class="list-group-item list-group-item-primary">Company: <span class="fw-bold">{{currentContact.company}} </span></li>
        <li class="list-group-item list-group-item-primary">Title: <span class="fw-bold">{{currentContact.title}}</span></li>
        <li class="list-group-item list-group-item-primary">Group: <span class="fw-bold">{{contactGroup.name}}</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/" class="btn btn-danger btn-sm">
        <i class="fa fa-arrow-alt-circle-left">&nbsp;Back</i>
      </a>
    </div>
  </div>
</div>

