/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');


body{
  font-family: 'Libre Bodoni', serif !important;
  background-color:#c7c0ae
}

.form-control.ng-invalid.ng-touched{
  border:1px solid orangered;
}
