<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">Add Contact</p>
      <p class="fst-italic">
        Now you can Add your Contact to experiment the Power of my Contact Manager !! Hope you're enjoy
      </p>
    </div>
  </div>
</div>
 <!-- Create Contact Form -->
<div class="container mt-2">
<div class="row">
  <div class="col-sm-7 col-md-5">
    <form action="">
      <div class="mb-2">
        <input type="text" placeholder="Name" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" placeholder="Photo URL" class="form-control">
      </div>
      <div class="mb-2">
        <input type="email`" placeholder="Email" class="form-control">
      </div>
      <div class="mb-2">
        <input type="number" placeholder="Mobile Number" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" placeholder="Company" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" placeholder="title" class="form-control">
      </div>
      <div class="mb-2">
        <select name="" id="" class="form-control">
          <option value="">Select a Group</option>
        </select>
      </div>
      <div class="mt-4 d-flex justify-content-between">
        <input type="submit" value="Create" class="btn btn-primary form-control">
        <a routerLink="/" class="btn btn-dark ms-3">Close</a>
      </div>
    </form>
  </div>
  <div class="col-sm-4">
    <img src="http://assets.stickpng.com/images/585e4bcdcb11b227491c3396.png" alt="" class="contact-img" alt="Grabbed image">
  </div>
</div>
</div>
